@using TotalBase.Enums;
@using TotalPortal.Configuration;

@using TotalDTO;
@using TotalModel
@using TotalDTO.Inventories
@using TotalPortal.Areas.Inventories.ViewModels

@{Layout = "~/Views/Shared/_LayoutPopup.cshtml";}

@model IWarehouseTransferViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Helpers/Bases/_BaseSectionTop.cshtml")

    @Html.Hidden("WarehouseTaskID", (int)@ViewBag.WarehouseTaskID);
    @Html.Hidden("WarehouseTaskIDList", (string)@ViewBag.WarehouseTaskIDList);

    @Html.HiddenFor(model => model.Storekeeper.EmployeeID);
    @Html.HiddenFor(model => model.Storekeeper.Name);

    @Html.HiddenFor(model => (model as IWarehouseTransferPrimitiveDTO).CustomerID)

    @Html.HiddenFor(model => model.Customer.CustomerID)
    @Html.HiddenFor(model => model.Customer.Code)
    @Html.HiddenFor(model => model.Customer.Name)
    @Html.HiddenFor(model => model.Customer.VATCode)
    @Html.HiddenFor(model => model.Customer.Telephone)
    @Html.HiddenFor(model => model.Customer.BillingAddress)
    @Html.HiddenFor(model => model.Customer.EntireTerritoryEntireName)
    @Html.HiddenFor(model => model.Customer.SalespersonID)
    @Html.HiddenFor(model => model.Customer.SalespersonName)
    @Html.HiddenFor(model => model.Customer.PaymentTermID)
    @Html.HiddenFor(model => model.Customer.PriceCategoryID)
    @Html.HiddenFor(model => model.Customer.PriceCategoryCode)

    @Html.HiddenFor(model => (model as IWarehouseTransferPrimitiveDTO).TransferOrderID)
    @*@Html.HiddenFor(model => model.TransferOrderReference)
        @Html.HiddenFor(model => model.TransferOrderEntryDate)*@
    @Html.HiddenFor(model => (model as IWarehouseTransferPrimitiveDTO).WarehouseID)
    @Html.HiddenFor(model => model.Warehouse.WarehouseID)
    @Html.HiddenFor(model => model.Warehouse.Code)

    @Html.HiddenFor(model => (model as IWarehouseTransferPrimitiveDTO).WarehouseReceiptID)
    @Html.HiddenFor(model => model.WarehouseReceipt.WarehouseID)
    @Html.HiddenFor(model => model.WarehouseReceipt.Code)



    @(Html.Kendo().TabStrip()
        .HtmlAttributes(new { @style = "height: 468px; margin-left: 0px; margin-right: 0px;" })
        .Name("tabStrip")
        .Items(tabStrip =>
        {
            tabStrip.Add().Text("Khách hàng không có lệnh đặt hàng")
                .Selected(true)
                .Content(@<text>
                    <div style="margin-top: 39px; margin-right: 18px;">

                        @Html.EditorFor(d => (d as IWarehouseTransferDTO).Customer, "AutoCompletes/CustomerBase", new { CustomerDescriptionHidden = "false", CustomerDisplayName = @Model.Customer.GetDisplayName(m => m.CustomerID) })

                        @Html.EditorFor(d => (d as IWarehouseTransferDTO).Warehouse, new { WarehouseDisplayName = @Model.Warehouse.GetDisplayName(m => m.WarehouseID) })

                        @Html.EditorFor(d => (d as IWarehouseTransferDTO).WarehouseReceipt, new { WarehouseDisplayName = @Model.WarehouseReceipt.GetDisplayName(m => m.WarehouseID) })

                    </div>
                </text>);
            tabStrip.Add().Text("Giao hàng theo lệnh đặt hàng")
                .Content(@<text>
                    @Html.Partial("~/Areas/Inventories/Views/WarehouseTransfers/_GetTransferOrder.cshtml")
                </text>);
            tabStrip.Add().Text("Giao hàng tổng hợp của nhiều lệnh đặt hàng")
                    .Content(@<text>
                    @Html.Partial("~/Areas/Inventories/Views/WarehouseTransfers/_GetWarehouse.cshtml")
                    </text>);
        })
    )



    <div class="background-bar" style="height: 45px;">
        <div class="popup-button-bar">
            <input id="submitCreateWizard" type="submit" formaction="@Url.Action("CreateWizard", Model.ControllerName)" formtarget="_top" style="display:none" />  @*<button type="button" class="k-button" onclick="okButton_Click()"> <img src="~/Content/Images/Mains/Size24/Ok-1.png" /> Áp dụng CTKM đang chọn </button>   //At VCP DON'T ALLOW SELECT BY SINGLE PROMOTION *@

            <button type="button" class="k-button" onclick="okButton_Click()"> <img src="~/Content/Images/Mains/Size24/Accept-Total.png" /> Next </button>
            <button type="button" class="k-button" onclick="window.parent.$('#myWindow').data('kendoWindow').close()"> <img src="~/Content/Images/Mains/Size24/Users-Exit-icon-24.png" /> Exit </button>
        </div>
    </div>

}

<link href="@Url.Content("~/Content/CustomCss/GeneralPopup.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">

    function okButton_Click() {
        var selectedGrid;
        switch ($("#tabStrip").data("kendoTabStrip").select().index()) {
            case 1:
                selectedGrid = $("#warehouseTransferPendingTransferOrderGrid").data("kendoGrid");
                break;
            case 2:
                selectedGrid = $("#warehouseTransferPendingWarehouseGrid").data("kendoGrid");
                break;
            default:
                $("#submitCreateWizard").trigger("click");
                break;
        }

        if ($("#tabStrip").data("kendoTabStrip").select().index() != 0)
            handleOKEvent(selectedGrid);
    }

    function okWOSelectButton_Click() {
        handleOKEvent();
    }

    function handleOKEvent(selectedGrid) { //This javascript is now used only here. Later, if it is used somewhere else, it should be break into a standalone js file, and then just only add a link here

        if ($("#Project_ProjectID").val() === null || $("#Project_ProjectID").val() === "")
            return false;

        if (selectedGrid === undefined)
            _setModelInput();
        else {
           

            var selectedDataItem = selectedGrid.dataItem(selectedGrid.select());
            if (selectedDataItem === undefined || selectedDataItem === null)
                return false;

            _setModelInput(selectedDataItem);


            var selectedDataItem = selectedGrid.dataItem(selectedGrid.select());
            if (selectedDataItem === undefined)
                return false;

            _setModelInput(selectedDataItem);
        }
        $("#submitCreateWizard").trigger("click");


        function _setModelInput(selectedDataItem) {
            $("#Customer_CustomerID").val(selectedDataItem === undefined || selectedDataItem.CustomerID === undefined ? null : selectedDataItem.CustomerID);
            $("#Customer_Code").val(selectedDataItem === undefined || selectedDataItem.CustomerCode === undefined ? null : selectedDataItem.CustomerCode);
            $("#Customer_Name").val(selectedDataItem === undefined || selectedDataItem.CustomerName === undefined ? null : selectedDataItem.CustomerName);
            $("#Customer_OfficialName").val(selectedDataItem === undefined || selectedDataItem.CustomerOfficialName === undefined ? null : selectedDataItem.CustomerOfficialName);
            $("#Customer_Birthday").val(selectedDataItem === undefined || selectedDataItem.CustomerBirthday === undefined ? null : kendo.toString(selectedDataItem.CustomerBirthday, Settings.DateFormat));
            $("#Customer_VATCode").val(selectedDataItem === undefined || selectedDataItem.CustomerVATCode === undefined ? null : selectedDataItem.CustomerVATCode);
            $("#Customer_Telephone").val(selectedDataItem === undefined || selectedDataItem.CustomerTelephone === undefined ? null : selectedDataItem.CustomerTelephone);
            $("#Customer_BillingAddress").val(selectedDataItem === undefined || selectedDataItem.CustomerBillingAddress === undefined ? null : selectedDataItem.CustomerBillingAddress);
            $("#Customer_ShippingAddress").val(selectedDataItem === undefined || selectedDataItem.CustomerShippingAddress === undefined ? null : selectedDataItem.CustomerShippingAddress);
            $("#Customer_TerritoryID").val(selectedDataItem === undefined || selectedDataItem.CustomerTerritoryID === undefined ? null : selectedDataItem.CustomerTerritoryID);
            $("#Customer_EntireTerritoryEntireName").val(selectedDataItem === undefined || selectedDataItem.CustomerEntireTerritoryEntireName === undefined ? null : selectedDataItem.CustomerEntireTerritoryEntireName);
            $("#Customer_SalespersonID").val(selectedDataItem === undefined || selectedDataItem.CustomerSalespersonID === undefined ? null : selectedDataItem.CustomerSalespersonID);
            $("#Customer_SalespersonName").val(selectedDataItem === undefined || selectedDataItem.CustomerSalespersonName === undefined ? null : selectedDataItem.CustomerSalespersonName);
            $("#Customer_PaymentTermID").val(selectedDataItem === undefined || selectedDataItem.PaymentTermID === undefined ? null : selectedDataItem.PaymentTermID);
            $("#Customer_PriceCategoryID").val(selectedDataItem === undefined || selectedDataItem.CustomerPriceCategoryID === undefined ? null : selectedDataItem.CustomerPriceCategoryID);
            $("#Customer_PriceCategoryCode").val(selectedDataItem === undefined || selectedDataItem.CustomerPriceCategoryCode === undefined ? null : selectedDataItem.CustomerPriceCategoryCode);

            $("#TransferOrderID").val(selectedDataItem === undefined || selectedDataItem.TransferOrderID === undefined ? null : selectedDataItem.TransferOrderID);
            //$("#TransferOrderReference").val(selectedDataItem === undefined || selectedDataItem.TransferOrderReference === undefined ? null : selectedDataItem.TransferOrderReference);
            //$("#TransferOrderEntryDate").val(selectedDataItem === undefined || selectedDataItem.TransferOrderEntryDate === undefined ? null : kendo.toString(selectedDataItem.TransferOrderEntryDate, Settings.DateTimeFormat));

            $("#Warehouse_WarehouseID").val(selectedDataItem === undefined || selectedDataItem.WarehouseID === undefined ? null : selectedDataItem.WarehouseID);
            $("#Warehouse_Code").val(selectedDataItem === undefined || selectedDataItem.WarehouseCode === undefined ? null : selectedDataItem.WarehouseCode);
            $("#WarehouseReceipt_WarehouseID").val(selectedDataItem === undefined || selectedDataItem.WarehouseReceiptID === undefined ? null : selectedDataItem.WarehouseReceiptID);
            $("#WarehouseReceipt_Code").val(selectedDataItem === undefined || selectedDataItem.WarehouseReceiptCode === undefined ? null : selectedDataItem.WarehouseReceiptCode);
        }
    }

    $("#Customer_CustomerID").change(function (e) {
        $("#Warehouse_WarehouseID").val($("#Customer_WarehouseID").val());
        $("#Warehouse_Code").val($("#Customer_WarehouseCode").val());
        $("#Warehouse_Name").val($("#Customer_WarehouseName").val());

        $("#WarehouseReceipt_WarehouseID").val($("#Customer_WarehouseID").val());
        $("#WarehouseReceipt_Code").val($("#Customer_WarehouseCode").val());
        $("#WarehouseReceipt_Name").val($("#Customer_WarehouseName").val());

        //Also remember last AutoComplete value for Warehouse
        $("#Warehouse_TempName").val($("#Warehouse_Name").val());
        //Also remember last AutoComplete value for Warehouse
        $("#WarehouseReceipt_TempName").val($("#WarehouseReceipt_Name").val());
    })



    $("#Warehouse_WarehouseID").change(function (e) {
        if ($("#NegativeOnly").val() == "True") {
            $("#WarehouseReceipt_WarehouseID").val($("#Warehouse_WarehouseID").val());
            $("#WarehouseReceipt_Code").val($("#Warehouse_Code").val());
            $('#WarehouseReceipt_Name').val($("#Warehouse_Name").val());
            //Also remember last AutoComplete value for Warehouse
            $("#WarehouseReceipt_TempName").val($("#WarehouseReceipt_Name").val());
        }
    })

    $("#WarehouseReceipt_WarehouseID").change(function (e) {
        if ($("#PositiveOnly").val() == "True") {
            $("#Warehouse_WarehouseID").val($("#WarehouseReceipt_WarehouseID").val());
            $("#Warehouse_Code").val($("#WarehouseReceipt_Code").val());
            $('#Warehouse_Name').val($("#WarehouseReceipt_Name").val());
            //Also remember last AutoComplete value for Warehouse
            $("#Warehouse_TempName").val($("#Warehouse_Name").val());
        }
    })   


</script>





